body,html {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	font-family: "PingFang SC", Arial, "Microsoft YaHei", "榛戜綋", "瀹嬩綋", sans-serif
}

main {
	text-align: center
}

main .logo {
	width: 9.5rem;
	height: auto
}

main div.text-tips p {
	color: #6e8189
}

main div.text-tips p:first-child {
	font-size: 1.125rem
}

main div.text-tips p~P {
	font-size: 0.75rem
}

main .action,
main .trust {
	height: 3rem;
	line-height: 3rem;
	margin-top: 0.625rem;
	min-width: 12.5rem;
	border-radius: 2.5rem;
	font-size: 1.25rem;
	color: #fff;
	background-size: cover;
	background: -webkit-gradient(linear, left top, left bottom, from(#00cdf0), to(#0087d3));
	background: linear-gradient(180deg, #00cdf0, #0087d3);
	outline: 0;
	border: none
}

main .installing .action {
	display: none
}

main .wechat-tips {
	display: none;
	position: fixed;
	top: 0;
	right: 0.625rem;
	width: 7rem;
	height: auto
}

main .wechat-tips img {
	width: 100%;
	height: 100%
}

@media screen and (min-width:960px) {
	main {
		width: 62.5rem;
		margin: 0 auto;
		padding-top: 5.625rem;
		min-height: 28.4375rem;
		background-image: url(../images/bg_map.png);
		background-repeat: no-repeat;
		background-position: 3.0625rem 5.625rem
	}
	main .logo-wrp {
		padding-bottom: 8rem;
		padding-top: 6.875rem
	}
	main .logo-wrp .logo {
		width: 7.5rem
	}
	main .logo-wrp .title {
		/* margin-right: 1.875rem, */
		font-size: 1.8rem;
		margin-top: 0.5rem;
	}
	main .logo-wrp .qr-wrp {
		display: inline-block;
		width: 10.25rem;
		height: 10.25rem;
		padding: 0.75rem;
		margin-left: 1.875rem;
		background-color: #fff
	}
	main .logo-wrp .qr-wrp img {
		width: 100%;
		height: 100%
	}
	.action {
		display: none
	}
}

@media screen and (max-width:959px) {
	.logo-wrp .signature-qr,
	.text-tips {
		display: none
	}
	main {
		background-size: 100% auto;
		/* background-image: url(../images/bg_map_m.png); */
		background-repeat: no-repeat;
		background-position: 0 5.375rem
	}
	.logo-wrp {
		padding: 5.25rem 0 5.3125rem
	}
	.logo-wrp .title {
		/* margin-right: 1.875rem, */
		font-size: 1.8rem;
	}
	.install-wrp p {
		font-size: 0.75rem;
		color: #97aec4
	}
	.install-wrp button {
		margin: 1rem 0 2rem
	}
	.install-wrp p:first-child {
		margin-bottom: 0.625rem
	}
	.install-wrp p:last-child {
		margin: 0 2.25rem;
		font-size: 0.625rem
	}
}

.installing .loadEffect {
	width: 6.25rem;
	height: 6.25rem;
	position: relative;
	margin: 0 auto;
	-webkit-transform: scale(.6);
	transform: scale(.6)
}

.installing .loadEffect span {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background: #aaa;
	position: absolute;
	-webkit-animation: load 1.04s ease infinite
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: scale(1.2);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(.3);
		opacity: .5
	}
}

.installing .loadEffect span:nth-child(1) {
	left: 0;
	top: 50%;
	margin-top: -0.625rem;
	-webkit-animation-delay: .13s
}

.installing .loadEffect span:nth-child(2) {
	left: 0.875rem;
	top: 0.875rem;
	-webkit-animation-delay: .26s
}

.installing .loadEffect span:nth-child(3) {
	left: 50%;
	top: 0;
	margin-left: -0.625rem;
	-webkit-animation-delay: .39s
}

.installing .loadEffect span:nth-child(4) {
	top: 0.875rem;
	right: 0.875rem;
	-webkit-animation-delay: .52s
}

.installing .loadEffect span:nth-child(5) {
	right: 0;
	top: 50%;
	margin-top: -0.625rem;
	-webkit-animation-delay: .65s
}

.installing .loadEffect span:nth-child(6) {
	right: 0.875rem;
	bottom: 0.875rem;
	-webkit-animation-delay: .78s
}

.installing .loadEffect span:nth-child(7) {
	bottom: 0;
	left: 50%;
	margin-left: -0.625rem;
	-webkit-animation-delay: .91s
}

.installing .loadEffect span:nth-child(8) {
	bottom: 0.875rem;
	left: 0.875rem;
	-webkit-animation-delay: 1.04s
}